
:root{
    --primary: #2d4a53;
    --secondary: #69818D;
    --button: #132e35;
    --selected: #132e35;  
    --background: #5a636a;
    --main:#AFB3B7;
    --light:  #EEEEEE;
    --dark: #212121; 
    --text: #f3f3f3;

    --dodgerblue: #005A9C;
    --darkblue: rgb(0, 31, 51);
    --blue : #005A9C;
    --lightblue: rgb(25, 67, 97);
    --cyan: #1ba098;
    --gray: #5c6370;
    --lightgray: #f3f3f3;
    --cancel: #ec5365;
    
}

* {
    /* color: black; */
    /* background-color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

body{
    background-color: var(--light);
}


.navbar{
    position: fixed;
    background-color: var(--primary);

    
	transition: width 200ms ease;
}

/* main{
    width: 55%;
    min-width: 400px;
    height: 80vh;
    margin: 5% auto;
    padding:5vw;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2%;
    box-shadow: 6px 5px 2px  var(--primary);

} */

a{
    text-decoration: none;
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}



button, .btn{
    height: 2rem;
    color: var(--text);
    background: var(--button);
    /* border-color: var(--gray); */
    min-width: 5rem;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    
}

.selected {
    background-color:var(--selected);
}

button.selected{
    background-color: var(--primary);
}

button:hover, .btn:hover{
    background-color: var(--secondary);
    cursor: pointer;
}



input{
    color: black;
}

.btn:hover{
    background: var(--primary);
}
.btn.red:hover{
    background: var(--cancel) ;
    border-color: var(--cancel);
}

.submit{
    background-color: var(--primary);
}

.gold{
    color: #deb992;
}

.btn.container {
    display: flex;
    margin: auto;
}

.container{
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;    
    background-color: var(--light);
    border: #5c6370 1px solid;
}



.btn_container{
    display: flex;
    justify-content: space-evenly   ;
}

.flex_container{
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
}

.form_item{
    display: grid;
    justify-content: space-evenly;
}

.even{
    align-items: space-evenly;
}
.wide{
    width: 100%;
}

.page-box{
    margin: 5rem auto;
    width: 80%;
    max-width: 800px;
    height: 60vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
}

/* Big */
@media only screen and (min-width: 600px) {
    
    main{
        margin-left: 5rem;
    }
}

/* Small */
@media only screen and (max-width: 600px) {

}