
:root{
    --dodgerblue: #005A9C;
    --darkblue: rgb(0, 31, 51);
    --blue : rgb(12,40,73);
    --lightblue: rgb(25, 67, 97);
    --cyan: #1ba098;
    --gray: #5c6370;
    --lightgray: #777d88;
    --cancel: #ec5365;  
}

*{
    color: white;
}

body{
    background-color: var(--darkblue);
}

main{
    padding: 6rem;
    width: 60%;
    min-width: 400px;
    margin: auto;

}

nav{
    font-family: BrandonTextWeb-Bold,sans-serif;
    color: var(--cyan);
}



button, .btn{
    height: 2rem;
    background: var(--gray);
    border-color: var(--gray);
    min-width: 5rem;
    cursor: pointer;
}

button:hover, .btn:hover{
    background-color: var(--lightgray);
    cursor: pointer;
}

input{
    color: black;
}

.btn{
    cursor: pointer;
    width: 100%;
    background: var(--gray);
    border-color: var(--gray);
}
.btn:hover{
    background: var(--dodgerblue);
    border-color: var(--dodgerblue);
}
.btn.red:hover{
    background: var(--cancel) ;
    border-color: var(--cancel);
}

.gold{
    color: #deb992;
}

.btn.container {
    display: flex;
    margin: auto;
}

.container, form{
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: var(--lightblue);
}

.container .container{
    background-color: var(--blue)
}

.container .container .container{
    background-color: var(--lightblue);
}

.assignment {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
}

.btn_container{
    display: flex;
    justify-content: space-evenly   ;
}

.flex_container{
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
}


.even{
    align-items: space-evenly;
}
.wide{
    width: 100%;
}

@media (min-width: 768px) {

}